<div class="footer-p">
    <div class="about-us">
        <div class="f-c-1">
            <h3>About us</h3>
        </div>
        <div class="f-c-4">
            Computer Engineering<br/>
            Happy memories are hiding palces for unforgotten Treasures
        </div>
    </div>
    <div class="quick-links">
        <div class="f-c-2">
            <h3>Quick links</h3>
        </div>
        <div class="f-c-5">
            <div class="home-l ql">
                <a href="https://www.iiit-bh.ac.in/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    IIIT BBSR</a>
            </div>
            <br>
            <div class="contact-l ql">
                <a href="https://hib.iiit-bh.ac.in/m-ums-2.0/start/login/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    MUMS 2.0</a>
            </div>
        </div>
    </div>
    <div class="follow">
        <div class="f-c-3">
            <h3>Follow us</h3>
        </div>
        <div class="f-c-6">
            <div class="fb-l">
                <a href="https://www.facebook.com/">
                    <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png" />
                </a>
            </div>
            <div class="twitter-l">
                <a href="https://www.twitter.com/">
                    <img src="https://img.icons8.com/color/48/000000/twitter-circled--v5.png" />
                </a>
            </div>
            <div class="google-l">
                <a href="#">
                    <img src="https://img.icons8.com/color-glass/48/000000/google-logo.png" />
                </a>
            </div>
            <div class="insta-l">
                <a href="https://www.instagram.com/">
                    <img src="https://img.icons8.com/color/48/000000/instagram-new--v2.png" />
                </a>
            </div>
        </div>
    </div>
</div>