<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        html,
      body {
        background-color: #08d9d6;
        padding: 0;
        width: 100%;
        margin: 0;
        overflow: hidden;
      }

      .login-pg {
        margin: 25vh auto;
        width: max-content;
        background: #eaeaea;
        border-radius: 25px;
        padding: 2rem;
        height: max-content;
      }
      @keyframes rotate {
        0% {
          transform: scaleX(1);
          transform: scale(1, 1);
        }
        50% {
          transform: scaleX(1.5);
          transform: scale(2, 1.5);
        }
        100% {
          transform: scaleX(1);
          transform: scale(1, 1);
        }
      }
      .box {
        padding: 2rem;
        display: grid;
        border: 2px solid #ff2e63;
        border-radius: 20px;
        color: #ff2e63;
        margin: 0;
        overflow: hidden;
      }

      .box img {
        margin: 2rem auto;
        height: 30vh;
        animation: rotate 10s linear infinite;
      }
    </style>
    <title>Thanks for visiting!</title>
    <link rel="icon" href="https://user-images.githubusercontent.com/85221003/133185970-6a6edf5b-9020-496e-aea8-4ec464135855.png" type="image/x-icon" />
</head>

<body>
    <div class="login-pg">
        <div class="box">
            <img src="https://user-images.githubusercontent.com/77490864/133596287-1f85e163-6c4c-47e2-9a64-4b7c26247853.png" alt="" />
        </div>
    </div>
</body>

</html>