<div class="nav-bar">
        <div class="form">
            <img src="https://user-images.githubusercontent.com/77490864/133586831-899fc6c3-b507-4434-8496-525b638975cb.png" alt="" />
            <a href="home">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                HOME
            </a>
            <a href="time-table">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Time Table
            </a>
            <a href="notice">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                NOTICE
            </a>
            <a href="friends">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Friends
            </a>
            <div></div>
            <a href="logout">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Logout
            </a>
        </div>
    </div>