<script>
    const t = new Date();
    const cur_day = t.getDay();
    const cur_hour = t.getHours();
    const cur_min = t.getMinutes();
    if (cur_day > 0 && cur_day < 6) {
        if (cur_day === 1) {
            if ((cur_hour > 9 && cur_min > 4) || (cur_hour > 10 && cur_min < 5)) {
                document.getElementsByClassName("cls-1").style.color = "#355C7D";
                document.getElementsByClassName("cls-1").style.background =
                    "#F67280";
                document.getElementById("cls-1").onclick = function() {
                    location.href =
                        "https://meet.google.com/lookup/dzfkh3p367?authuser=0&hs=179";
                };
            } else if (
                (cur_hour > 10 && cur_min > 9) ||
                (cur_hour > 11 && cur_min < 10)
            ) {
                document.getElementsByClassName("cls-6").style.color = "#355C7D";
                document.getElementsByClassName("cls-6").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 13 && cur_min > 4) ||
                (cur_hour > 14 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-15").style.color = "#355C7D";
                document.getElementsByClassName("cls-15").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 14 && cur_min > 5) ||
                (cur_hour > 15 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-19").style.color = "#355C7D";
                document.getElementsByClassName("cls-19").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 15 && cur_min > 9) ||
                (cur_hour > 16 && cur_min < 10)
            ) {
                document.getElementsByClassName("cls-23").style.color = "#355C7D";
                document.getElementsByClassName("cls-23").style.background =
                    "#F67280";
            }
        } else if (cur_day === 2) {
            if ((cur_hour > 9 && cur_min > 4) || (cur_hour > 10 && cur_min < 5)) {
                document.getElementsByClassName("cls-2").style.color = "#355C7D";
                document.getElementsByClassName("cls-2").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 10 && cur_min > 9) ||
                (cur_hour > 11 && cur_min < 10)
            ) {
                document.getElementsByClassName("cls-7").style.color = "#355C7D";
                document.getElementsByClassName("cls-7").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 11 && cur_min > 14) ||
                (cur_hour > 12 && cur_min < 15)
            ) {
                document.getElementsByClassName("cls-11").style.color = "#355C7D";
                document.getElementsByClassName("cls-11").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 13 && cur_min > 4) ||
                (cur_hour > 14 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-16").style.color = "#355C7D";
                document.getElementsByClassName("cls-16").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 14 && cur_min > 5) ||
                (cur_hour > 15 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-20").style.color = "#355C7D";
                document.getElementsByClassName("cls-20").style.background =
                    "#F67280";
            }
        } else if (cur_day === 3) {
            if ((cur_hour > 9 && cur_min > 4) || (cur_hour > 10 && cur_min < 5)) {
                document.getElementsByClassName("cls-3").style.color = "#355C7D";
                document.getElementsByClassName("cls-3").style.background =
                    "#F67280";
                document.getElementById("cls-3").onclick = function() {
                    location.href =
                        "https://meet.google.com/lookup/dzfkh3p367?authuser=0&hs=179";
                };
            } else if (
                (cur_hour > 10 && cur_min > 9) ||
                (cur_hour > 11 && cur_min < 10)
            ) {
                document.getElementsByClassName("cls-8").style.color = "#355C7D";
                document.getElementsByClassName("cls-8").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 11 && cur_min > 14) ||
                (cur_hour > 12 && cur_min < 15)
            ) {
                document.getElementsByClassName("cls-12").style.color = "#355C7D";
                document.getElementsByClassName("cls-12").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 13 && cur_min > 4) ||
                (cur_hour > 14 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-17").style.color = "#355C7D";
                document.getElementsByClassName("cls-17").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 14 && cur_min > 5) ||
                (cur_hour > 15 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-21").style.color = "#355C7D";
                document.getElementsByClassName("cls-21").style.background =
                    "#F67280";
            }
        } else if (cur_day === 4) {
            if ((cur_hour > 9 && cur_min > 4) || (cur_hour > 10 && cur_min < 5)) {
                document.getElementsByClassName("cls-4").style.color = "#355C7D";
                document.getElementsByClassName("cls-4").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 10 && cur_min > 9) ||
                (cur_hour > 11 && cur_min < 10)
            ) {
                document.getElementsByClassName("cls-9").style.color = "#355C7D";
                document.getElementsByClassName("cls-9").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 11 && cur_min > 14) ||
                (cur_hour > 12 && cur_min < 15)
            ) {
                document.getElementsByClassName("cls-13").style.color = "#355C7D";
                document.getElementsByClassName("cls-13").style.background =
                    "#F67280";
            }
            document.getElementById("cls-13").onclick = function() {
                location.href =
                    "https://meet.google.com/lookup/dzfkh3p367?authuser=0&hs=179";
            };
        } else if (cur_day === 5) {
            if ((cur_hour > 9 && cur_min > 4) || (cur_hour > 10 && cur_min < 5)) {
                document.getElementsByClassName("cls-5").style.color = "#355C7D";
                document.getElementsByClassName("cls-5").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 10 && cur_min > 9) ||
                (cur_hour > 11 && cur_min < 10)
            ) {
                document.getElementsByClassName("cls-10").style.color = "#355C7D";
                document.getElementsByClassName("cls-10").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 11 && cur_min > 14) ||
                (cur_hour > 12 && cur_min < 15)
            ) {
                document.getElementsByClassName("cls-14").style.color = "#355C7D";
                document.getElementsByClassName("cls-14").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 13 && cur_min > 4) ||
                (cur_hour > 14 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-18").style.color = "#355C7D";
                document.getElementsByClassName("cls-18").style.background =
                    "#F67280";
            } else if (
                (cur_hour > 14 && cur_min > 5) ||
                (cur_hour > 15 && cur_min < 5)
            ) {
                document.getElementsByClassName("cls-22").style.color = "#355C7D";
                document.getElementsByClassName("cls-22").style.background =
                    "#F67280";
            }
        }
    }
    </script>
</body>

</html>