<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
    html,
    body {
        /* width: 100vw; */
        font-family: cursive;
        background-color: #08d9d6;
        padding: 0;
        width: 100%;
        margin: 0;
        display: grid;
    }

    /* -+-+-+-+-+-+-+-+-+-+-Page : 2 >> Time Table-+-+-+-+-+-+-+-+-+-+-*/

    .time-table {
        background: #141929;
        border-radius: 25px;
        display: grid;
        text-align: center;
        grid-gap: 1rem;
        padding: 1rem;
        width: max-content;
        height: max-content;
        margin: 15vh auto;
        margin-bottom: 35vh;
    }

    .sem {
        width: 100%;
        text-align: center;
        font-size: 22.5px;
        font-family: cursive;
        color: #ff2e63;
        font-weight: 600;
    }

    .week-days {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        color: aliceblue;
    }

    .sub,
    .break,
    .day,
    .time {
        justify-content: space-around;
        padding: 1.7vh;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        width: 4vw;
    }

    .day,
    .time {
        opacity: 0.6;
    }

    .time {
        width: 5vw;
    }

    .day {
        padding-bottom: 0vh;
    }

    .sub:hover {
        color: #ff2e63;
        background-color: #5bff77;
        border-radius: 100%;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="css">
    <title>CE | TIMETABLE</title>
</head>

<body>
    <%- include('navbar'); -%>
    <div class="time-table">
        <div class="sem">3rd SEMESTER</div>
        <div class="week-days">
            <div class="day"></div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thurs</div>
            <div class="day">Fri</div>
        </div>
        <div class="week-days">
            <div class="time">10:00 AM</div>
            <div class="sub cls-1">Maths</div>
            <div class="sub cls-2">SPE</div>
            <div class="sub cls-3">Maths</div>
            <div class="sub cls-4">DEC</div>
            <div class="sub cls-5">SPE</div>
        </div>
        <div class="week-days">
            <div class="time">11:00 AM</div>
            <div class="sub cls-6">SPE</div>
            <div class="sub cls-7">DEC</div>
            <div class="sub cls-8">DEC</div>
            <div class="sub cls-9">NT</div>
            <div class="sub cls-10">DEC</div>
        </div>
        <div class="week-days">
            <div class="time">12:00 PM</div>
            <div class="break"></div>
            <div class="sub cls-11">NT</div>
            <div class="sub cls-12">NT</div>
            <div class="sub cls-13">Maths</div>
            <div class="sub cls-14">DEC</div>
        </div>
        <div class="week-days">
            <div class="time">01:00 PM</div>
            <div class="break"></div>
            <div class="break"></div>
            <div class="break"></div>
            <div class="break"></div>
            <div class="break"></div>
        </div>
        <div class="week-days">
            <div class="time">02:00 PM</div>
            <div class="sub cls-15">CS</div>
            <div class="sub cls-16">C++</div>
            <div class="sub cls-17">C++</div>
            <div class="break"></div>
            <div class="sub cls-18">C++</div>
        </div>
        <div class="week-days">
            <div class="time">03:00 PM</div>
            <div class="sub cls-19">CS</div>
            <div class="sub cls-20">C++</div>
            <div class="sub cls-21">C++</div>
            <div class="break"></div>
            <div class="sub cls-22">C++</div>
        </div>
        <div class="week-days">
            <div class="time">04:00 PM</div>
            <div class="sub cls-23">DEC</div>
            <div class="break"></div>
            <div class="break"></div>
            <div class="break"></div>
            <div class="break"></div>
        </div>
    </div>
    <%- include('footer'); -%>
    <%- include('time_js'); -%>