:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;
   
    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}

.container {
    width: 100vw;
    margin: 0 0;
    padding: 0;
}

.navbar a {
    color: inherit;
    text-decoration: inherit;
}

.navbar img {
    height: 10vh;
    left: 0;
    position: absolute;
}

.nav-items {
    position: absolute;
    width: 60vw;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    right: 20vw;
    font-size: 2vh;
    margin-top: 3.5vh;
    text-align: center;
}

/*   
  .nav-items a:hover:before,
  .nav-items a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  } */

.nav-items a:hover {
    color: #ff2e63;
    font-weight: 600;
}

.nav-item {
    position: static;
}

.navbar {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    background: linear-gradient(to left, #383a3d, #222831, #252a34);
    color: #eaeaea;
    height: 10vh;
    width: 101vw;
    font-size: 1.5vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@keyframes Right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes Left {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.page-1 {
    display: flex;
    width: 100%;
}

.img-1 {
    display: grid;
    width: 60vw;
    height: max-content;
    padding: 0;
    margin-top: 15vh;
    margin-left: 10vw;
    animation: Left 0.75s linear 1;
    align-self: last-baseline;
}

.img-1 img {
    width: 40;
    height: 81vh;
    border-radius: 5%;
    margin: 0vw;
    right: 10vw;
}

#current-class {
    color: #ff2e63;
    background-color: #5bff77;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
    width: 33%;
    align-self: center;
    height: 10vh;
    padding: 0vh;
    border-radius: 33%;
    margin: 2vh 33%;
    font-size: 1.8rem;
    padding-top: 3vh;
    cursor: pointer;
}

.dark {
    animation: Right 0.75s linear 1;
    justify-content: space-around;
    display: grid;
    grid-gap: 2vh;
    padding-right: 0px;
    padding-left: 15px;
    width: max-content;
    height: max-content;
    margin-top: 15vh;
    align-self: center;
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
    padding-top: 0;
    margin-left: 10vw;
    margin-bottom: 3vh;
    /* margin-top: 15vh; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    background-color: #08d9d6;
}

.calendar {
    align-self: center;
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 5vw;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vw;
    font-weight: 600;
    color: var(--color-txt);
    padding: 1vw;
}

.calendar-body {
    padding: 1vw;
}

.calendar-week-day {
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.8px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 8vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    position: absolute;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 1.8px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 4.5px 9px;
    border-radius: 9px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 9px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 18px;
    grid-template-columns: repeat(3, auto);
    gap: 4.5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list>div {
    display: grid;
    place-items: center;
}

.month-list>div>div {
    width: 100%;
    padding: 4.5px 18px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list>div>div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*FOOTER*/

.footer-p {
    display: flex;
    /*  grid-template-columns: 1fr 1fr 1fr; */
    padding: 5px;
    text-align: center;
    height: max-content;
    background: linear-gradient(to right, #383a3d, #222831, #252a34);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7rem;
    color: #eaeaea;
    width: 100%;
    bottom: -22vh;
    justify-content: space-around;
}

.footer-p .about-us {
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
}

.footer-p .quick-links {
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
}

.footer-p .quick-links span:hover {
    color: #ff2e63;
}

.footer-p .follow {
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.footer-p .follow .f-c-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.1px;
}

.footer-p a img {
    transition: all 0.3s linear;
}

.footer-p a:hover img {
    transform: scale(1.5);
}

.footer-p .f-c-5 {
    margin-top: 10px;
}

.footer-p a {
    color: inherit;
    text-decoration: inherit;
}

@media (max-width: 690px) {
    .footer-p a img {
        width: 50%;
    }

    .footer-p .quick-links .f-c-2 {
        font-size: 16px;
    }

    .footer-p .about-us .f-c-1 {
        font-size: 16px;
    }

    .footer-p .follow .f-c-3 {
        font-size: 16px;
    }

    .footer-p .follow .f-c-6 {
        margin-top: 1px;
    }

    .footer-p {
        display: grid;
        gap: 2rem;
        height: max-content;
    }
}

/* FOOTER ENDS*/

@media (max-width: 800px) {
    .page-1 {
        display: grid;
    }

    .img-1 {
        width: 90vw;
        margin: 0 5vw;
    }

    .img-1 img {
        width: 100%;
        margin-left: -2vw;
    }

    .navbar img {
        height: 6vh;
        margin-top: 2vh;
    }

    .nav-item {
        font-size: 15px;
    }

    .dark {
        width: 100%;
        margin-left: -4.5vw;
    }

    #current-class {
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

@media (min-width: 1000px) {
    .calendar {
        border-radius: 27px;
        padding: 18px;
    }

    .calendar-header {
        font-size: 22.5px;
        padding: 9px;
    }

    .calendar-body {
        padding: 9px;
    }

    .calendar-week-day {
        height: 45px;
    }

    .calendar-days {
        gap: 1.8px;
    }

    .calendar-days div {
        width: 45px;
        height: 45px;
        padding: 4.5px;
    }

    #current-class {
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    .nav-item {
        font-size: 18px;
    }

}

@media (max-width: 650px) {
    .dark {
        margin-left: -5vw;
    }
}

@media (max-width: 365px) {
    .dark {
        margin-left: -2vw;
    }
    .img-1 img {
        width: 100%;
        margin-left: 0vw;
    }
}

@media (max-width: 385px) and (min-width: 370px) {
    .dark {
        margin-left: -3vw;
    }
    .img-1 img {
        width: 100%;
        margin-left: -2vw;
    }
}

@media (min-width: 400px)and (max-width: 415px) {
    .dark {
        margin-left: 0vw;
    }
    .img-1 img {
        width: 100%;
        margin-left: 0.5vw;
    }
}

@media (min-width: 413px)and (max-width: 415px) and (max-height: 737px) and (min-height: 735px){
    .dark {
        margin-left: -4.2vw;
    }
    .img-1 img {
        width: 100%;
        margin-left: -2.4vw;
    }
    .nav-item{
      font-size: 11px;
    }
}
