html,
body {
  width: 100vw;
  font-family: cursive;
  background-color: #08d9d6;
  padding: 0;
}

/* -+-+-+-+-+-+-+-+-+-+-KeyFrames -+-+-+-+-+-+-+-+-+-+-*/

@keyframes to-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes to-left {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -+-+-+-+-+-+-+-+-+-+-Nav Bar -+-+-+-+-+-+-+-+-+-+-*/

.navbar {
  position: fixed;
  top: 0%;
  left: -1%;
  height: 10vh;
  width: 101vw;
  z-index: 1;
  justify-content: space-around;
  background: linear-gradient(to left, #383a3d, #222831, #252a34);
  color: #eaeaea;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  overflow: hidden;
}

.navbar img {
  /* -+-+-+-Logo-+-+-+- */
  height: 8vh;
  margin-left: 10%;
  margin-top: 1vh;
}

.nav-items {
  /* -+-+-+-Navigation Links-+-+-+- */
  position: absolute;
  right: 20vw;
  width: 60%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  font-size: 2.5vh;
  margin-top: 3.5vh;
  text-align: center;
}

.navbar a {
  color: inherit;
  text-decoration: inherit;
  position: static;
}

.nav-items a:hover {
  color: #ff2e63;
  font-weight: 500;
}

.time-table {
  background: #141929;
  border-radius: 25px;
  display: grid;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem;
  width: 60vw;
  height: max-content;
  margin: 15vh 20vw;
}

.sem {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  color: #ff2e63;
  font-weight: 600;
}

ol {
  color: #eaeaea;
}

.box {
  border: 2px solid #ff2e63;
  padding: 2vh;
  border-radius: 25px;
}

.note {
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  text-align: left;
  margin-bottom: 2vh;
  padding: 10px;
  color: #eaeaea;
  box-shadow: rgba(32, 146, 150, 0.616) 0px 5px 15px;
  /* border: 1px solid #EAEAEA; */
}

.note .h {
  font-size: 15px;
  font-family: "Reenie Beanie", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 0.8vh;
  color: #eaeaea;
}
.note {
  color: #ff2e63;
  margin: 0 0;
  margin: 5vh;
}

.note:hover {
  opacity: 0.5;
}

.footer-p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: max-content;
  background: linear-gradient(to right, #383a3d, #222831, #252a34);
  margin-top: 7rem;
  color: #eaeaea;
  width: 100%;
  margin-left: -1%;
  justify-content: space-around;
  overflow: hidden;
  margin-bottom: -2vh;
}

.footer-p .about-us {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
}

.footer-p .quick-links {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
}

.footer-p .quick-links span:hover {
  color: #ff2e63;
}

.footer-p .follow {
  width: 80%;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.footer-p .follow .f-c-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.1px;
}

.footer-p a img {
  transition: all 0.3s linear;
}

.footer-p a:hover img {
  transform: scale(1.5);
}

.footer-p .f-c-5 {
  margin-top: 10px;
}

.footer-p a {
  color: inherit;
  text-decoration: inherit;
}
