html,
body {
    width: 100vw;
    font-family: cursive;
    background-color: #08d9d6;
    padding: 0;
}

/* -+-+-+-+-+-+-+-+-+-+-KeyFrames -+-+-+-+-+-+-+-+-+-+-*/

@keyframes to-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes to-left {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* -+-+-+-+-+-+-+-+-+-+-Nav Bar -+-+-+-+-+-+-+-+-+-+-*/

.navbar {
    position: fixed;
    top: 0%;
    left: -1%;
    height: 10vh;
    width: 101vw;
    z-index: 1;
    justify-content: space-around;
    background: linear-gradient(to left, #383a3d, #222831, #252a34);
    color: #eaeaea;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: hidden;
}

.navbar img {
    /* -+-+-+-Logo-+-+-+- */
    height: 8vh;
    margin-left: 10%;
    margin-top: 1vh;
}

.nav-items {
    /* -+-+-+-Navigation Links-+-+-+- */
    position: absolute;
    right: 20vw;
    width: 60%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    font-size: 2vh;
    margin-top: 3.5vh;
    text-align: center;
}

.navbar a {
    color: inherit;
    text-decoration: inherit;
    position: static;
}

.nav-items a:hover {
    color: #ff2e63;
    font-weight: 500;
}

/* -+-+-+-+-+-+-+-+-+-+-Front Page-+-+-+-+-+-+-+-+-+-+-*/

.container {
	margin-left: -1vw;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.front-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

/* -+-+-+-+-+-+-+-+-+-+-Image-+-+-+-+-+-+-+-+-+-+-*/

.img {
    width: 80%;
    height: max-content;
    padding: 0;
    margin-top: 13vh;
    margin-right: 5vw;
    animation: to-left 0.75s linear 1;
    align-self: last-baseline;
}

.img img {
    width: 80%;
    height: 81vh;
    border-radius: 5%;
    margin: 0 5vw;
}

/* -+-+-+-+-+-+-+-+-+-+-Calander -+-+-+-+-+-+-+-+-+-+-*/

.dark {
    /* -+-+-+-Parent Class-+-+-+- */
    width: 60%;
    height: max-content;
    display: grid;
    grid-gap: 1.8vh;
    animation: to-right 0.75s linear 1;
    justify-content: space-around;
    align-self: center;
    margin-top: 13vh;
    margin-left: 9vw;
    padding-left: 15px;
}

.calendar {
    align-self: center;
    height: 62vh;
    width: 100%;
    background-color: #141529;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    /* -+-+-+-Month, Year-+-+-+- */
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #f8fbff;
    padding: 10px;
    text-align: center;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #79788c;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.8px;
    color: #f8fbff;
}

.calendar-days div {
    width: 9%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    position: absolute;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: #f8fbff;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 1.8px;
    background-color: #f8fbff;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: #0000ff;
    color: #fff;
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 4.5px 9px;
    border-radius: 9px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: #323048;
}

.year-picker {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
}

.year-change {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 9px;
    cursor: pointer;
}

.year-change:hover {
    background-color: #323048;
}

.calendar-footer {
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #141529;
    padding: 18px;
    grid-template-columns: repeat(3, auto);
    gap: 4.5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list>div {
    display: grid;
    place-items: center;
}

.month-list>div>div {
    width: 100%;
    padding: 4.5px 18px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: #f8fbff;
}

.month-list>div>div:hover {
    background-color: #323048;
}

/* -+-+-+-+-+-+-+-+-+-+-Class Joining Button -+-+-+-+-+-+-+-+-+-+-*/

#current-class {
    color: #ff2e63;
    background: linear-gradient(to right, #383a3d, #222831, #252a34);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
    width: 33%;
    align-self: center;
    height: 7vh;
    border-radius: 35%;
    margin: 2vh 33%;
    font-size: 1.8rem;
    padding-top: 3vh;
    cursor: pointer;
}

/* -+-+-+-+-+-+-+-+-+-+-Footer -+-+-+-+-+-+-+-+-+-+-*/

.footer-p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: max-content;
    background: linear-gradient(to right, #383a3d, #222831, #252a34);
    margin-top: 7rem;
    color: #eaeaea;
    width: 100%;
    margin-left: -1%;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: -2vh;
}

.footer-p .about-us {
	width: 80%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
}

.footer-p .quick-links {
	width: 80%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
}

.footer-p .quick-links span:hover {
    color: #ff2e63;
}

.footer-p .follow {
	width: 80%;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.footer-p .follow .f-c-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.1px;
}

.footer-p a img {
    transition: all 0.3s linear;
}

.footer-p a:hover img {
    transform: scale(1.5);
}

.footer-p .f-c-5 {
    margin-top: 10px;
}

.footer-p a {
    color: inherit;
    text-decoration: inherit;
}

/* -+-+-+-+-+-+-+-+-+-+-Page : 2 >> Time Table-+-+-+-+-+-+-+-+-+-+-*/

.time-table {
    background: #141929;
    border-radius: 25px;
    display: grid;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem;
    width: 60vw;
    height: max-content;
    margin: 15vh 16vw;
}

.sem {
    width: 100%;
    text-align: center;
    font-size: 22.5px;
    font-family: cursive;
    color: #FF2E63;
    font-weight: 600;
}

.week-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: aliceblue;
}

.sub,
.break,
.day,
.time {
    justify-content: space-around;
    padding: 1.7vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 4vw;
}

.day,
.time {
    opacity: 0.6;
}

.time{
	width: 5vw;
}
.day {
	padding-bottom: 0vh;
}

.sub:hover {
    color: #ff2e63;
    background-color: #5bff77;
    border-radius: 100%;
}

/* -+-+-+-+-+-+-+-+-+-+-Media Qurries -+-+-+-+-+-+-+-+-+-+-*/

@media (min-width: 1000px) {
    .calendar {
        border-radius: 27px;
        padding: 18px;
    }

    .calendar-header {
        font-size: 22.5px;
        padding: 9px;
    }

    .calendar-body {
        padding: 9px;
    }

    .calendar-week-day {
        height: 45px;
    }

    .calendar-days {
        gap: 1.8px;
    }

    .calendar-days div {
        width: 45px;
        height: 45px;
        padding: 4.5px;
    }

    #current-class {
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    .nav-item {
        font-size: 18px;
    }

}

@media (max-width: 800px) {
    .page-1 {
        display: grid;
    }

    .img-1 {
        width: 90vw;
        margin: 0 5vw;
    }

    .img-1 img {
        width: 100%;
        margin-left: -2vw;
    }

    .navbar img {
        height: 6vh;
        margin-top: 2vh;
    }

    .nav-item {
        font-size: 15px;
    }

    .dark {
        width: 100%;
        margin-left: -4.5vw;
    }

    #current-class {
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

@media (max-width: 690px) {
    .footer-p a img {
        width: 50%;
    }

    .footer-p .quick-links .f-c-2 {
        font-size: 16px;
    }

    .footer-p .about-us .f-c-1 {
        font-size: 16px;
    }

    .footer-p .follow .f-c-3 {
        font-size: 16px;
    }

    .footer-p .follow .f-c-6 {
        margin-top: 1px;
    }

    .footer-p {
        display: grid;
        gap: 2rem;
        height: max-content;
    }
}
